/*

#4D4F5B
#CF4857
#16A89E
#81628B
#F5AC43

*/

body {
  background-color: #F7F7F9;
  font-family: 'Maven Pro', sans-serif;
  color: #4D4F5B;
}

.jumbotron {
  background-image: url("../assets/img/jumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -200px;
  color: #4D4F5B;
}

@media (min-width: 544px) {
  .navbar {
    border-radius: 0;
  }
}

.hljs {
  background-color: #F7F7F9;
  padding: 1em;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
}

.card-title {
    margin-bottom: 1rem;
    color: #4D4F5B;
}

.card-upright {
  float: right;
}
